{% extends 'hg_app/header.html' %}
{% load static %}
{% load crispy_forms_filters %}


{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        {% if not user.is_authenticated %}
        <div class="card my-4">
            <div class="card-body">
            <h4 class="card-title">Pro používání HG webové aplikace se musíš přihlásit</h4>
                </div>
            </div>
        {% else %}
            {% if player_lives > 0 %}
                {% if turn_off %}
                    <div class="card my-4">
                        <div class="card-body">
                            <h4 class="card-title">Aplikace je aktuálně vypnutá. Můžeš měnit profilový obrázek, prohlížet statistiky..., ale k hernímu obsahu se nedostaneš</h4>
                        </div>
                    </div>
                {% else %}
                    <div class="card my-4">
                        <div class="card-body">
                            {% if player_lives >= 2 %}
                            <h4><span class="badge badge-success">Aktuální počet životů: <b>{{ player_lives }}</b></span>
                            </h4>
                            {% endif %}
                            {% if player_lives == 1 %}
                            <h4><span class="badge badge-warning">Aktuální počet životů: <b>{{ player_lives }}</b></span>
                            </h4>
                            {% endif %}
                            <h6>Počet trofejí: {{ trophy_count }} (získané skóre se násobí {{ trophy_multiply }}x)</h6>
                            {% if quest is not None %}
                                <h6>Quest na hráče: {{ quest.user }}</h6>
                            {% else %}
                                <h6>Nemáš žádný quest</h6>
                            {% endif %}
                            <h4><span class="badge badge-warning" id="demo"></span></h4>
                        </div>
                    </div>

                    <script>
                        var countDownDate = new Date("{{ end_game.isoformat }}").getTime();
                        var x = setInterval(function() {
                            var now = new Date().getTime();
                            var distance = countDownDate - now;
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                            + minutes + "m " + seconds + "s ";
                            if (distance < 0) {
                                clearInterval(x);
                                 document.getElementById("demo").innerHTML = "HRA SKONČILA";
                            }
                        }, 1000);
</script>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Zprávy</h4>
                        <table class="table table-striped table-hover">

                            {% for message in info_messages %}
                                <tr>
                                    <td>{{ message.time | date:'H:i' }}</td>
                                    <td>{{ message.text }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </div>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Zadat kill</h4>
                        <form method="POST" action="{% url 'hg_app:submit_kill' %}">
                            {% csrf_token %}
                            {{ submit_kill_form|crispy }}
                            <button class="btn btn-primary" type="submit"
                                    onclick="return confirm('Opravdu chceš zadat tento kill?')">Odeslat
                            </button>
                        </form>
                    </div>
                    </div>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Zadat nalezený balíček</h4>
                        <form method="POST" action="{% url 'hg_app:submit_package' %}">
                            {% csrf_token %}
                            {{ submit_package_form|crispy }}
                            <button class="btn btn-primary" type="submit">Označit jako nalezené</button>
                        </form>
                    </div>
                    </div>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Dostupné balíčky</h4>
                        <small class="form-text text-muted">
                                Zobrazují se všechny balíčky, včetně těch vybraných. Po určitém čase (několik hodin)
                                vybrané balíčky zmizí a zůstanou jen volné.
                        </small>
                        <table class="table table-striped">
                            <th scope="col">Balíček</th>
                            <th scope="col">Souřadnice</th>
                            <th scope="col">Čas otevření</th>

                            {% for package in packages %}
                                <tr>
                                    <td>#{{ package.id }}</td>
                                    <td>
                                        <a target="_blank" href="https://mapy.cz/turisticka?x={{ package.location.x|stringformat:'.7f' }}&y={{ package.location.y|stringformat:'.7f' }}&z=17&source=coor&id={{ package.location.x|stringformat:'.7f' }}%2C{{ package.location.y|stringformat:'.7f' }}">{{ package.location.y|stringformat:'.7f' }}N, {{ package.location.x|stringformat:'.7f' }}E</a>
                                    </td>
                                    <td>{{ package.opening_time | date:'H:i' }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </div>


                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Ověřit nalezený point</h4>
                        <form method="POST" action="{% url 'hg_app:submit_point' %}" id="post-form">
                            {% csrf_token %}
                            {{ submit_point_form|crispy }}
                            <button id="submit_point_button" class="btn btn-primary" aria-describedby="pointHelpBlock">
                                Ověřit
                            </button>
                            <small id="pointHelpBlock" class="form-text text-muted">
                                Ověření probíhá na základě polohy. Point zadávej v bezprostřední blízkosti uvedených
                                souřadnic.
                            </small>

                        </form>
                    </div>
                    </div>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Dostupné pointy</h4>
                        <small class="form-text text-muted">
                                Zobrazují se všechny pointy, včetně těch vybraných. Po určitém čase (několik hodin)
                                vybrané pointy zmizí a zůstanou jen volné.
                        </small>
                        <table class="table table-striped">
                            <th scope="col">Point</th>
                            <th scope="col">Souřadnice</th>
                            <th scope="col">Čas otevření</th>

                            {% for point in points %}
                                <tr>
                                    <td>#{{ point.id }}</td>
                                    <td>
                                        <a target="_blank" href="https://mapy.cz/turisticka?x={{ point.location.x|stringformat:'.7f' }}&y={{ point.location.y|stringformat:'.7f' }}&z=17&source=coor&id={{ point.location.x|stringformat:'.7f' }}%2C{{ point.location.y|stringformat:'.7f' }}">{{ point.location.y|stringformat:'.7f' }}N, {{ point.location.x|stringformat:'.7f' }}E</a>
                                    </td>
                                    <td>{{ point.opening_time | date:'H:i' }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </div>

                    <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Vyzvednout speciální efekt</h4>
                        <form method="POST" action="{% url 'hg_app:submit_special' %}">
                            {% csrf_token %}
                            {{ submit_special_form|crispy }}
                            <button class="btn btn-primary" type="submit" aria-describedby="pointHelpBlock2">Odeslat</button>
                            <small id="pointHelpBlock2" class="form-text text-muted">
                                Toto pole použij, pokud najdeš v balíčku trofej, bonusový život...
                            </small>
                        </form>
                        </div>
                        </div>

                    <div class="card my-4">
                    <div class="card-body">
                    <p class="text-justify"><img src="{% static '/images/package.png' %}"> značí balíčky, <img src="{% static '/images/point.png' %}"> pointy. Pokud máš na někoho quest,
                    zobrazuje se jako <img src="{% static '/images/target.png' %}">. Hráči s trofejí jsou <img src="{% static '/images/trophy.png' %}"></p>
                        {% if if_show_players %}
                        <p class="text-justify" style="color:red">Nyní vidíš polohu všech hráčů. Zobrazují se jako <img src="{% static '/images/target.png' %}">.</p>
                        {% endif %}

                    <div id="map" style="width:auto; height:400px; touch-action: none"></div>
                    <script type="text/javascript">
                        var center = SMap.Coords.fromWGS84(17.14, 48.90);
                        var map = new SMap(JAK.gel("map"), center, 14);
                        map.addDefaultLayer(SMap.DEF_TURIST).enable();
                        map.addDefaultControls();

                        var packages = new SMap.Layer.Marker();
                        map.addLayer(packages);
                        packages.enable();


                        {% for package in packages %}
                            var znacka = JAK.mel("div");
                            var obrazek = JAK.mel("img", {src: "{% static '/images/package.png' %}"});
                            znacka.appendChild(obrazek);

                            var card = new SMap.Card();
                            card.getHeader().innerHTML = "<strong>Balíček #{{package.id}}</strong>";
                            card.getBody().innerHTML = "Otevření: {{ package.opening_time | date:'H:i' }}<br>";
                            card.getBody().innerHTML += "<a href=\"https://mapy.cz/turisticka?x={{ package.location.x|stringformat:'.7f' }}&y={{ package.location.y|stringformat:'.7f' }}&z=17&source=coor&id={{ package.location.x|stringformat:'.7f' }}%2C{{ package.location.y|stringformat:'.7f' }}\">{{ package.location.y|stringformat:'.7f' }}N, {{ package.location.x|stringformat:'.7f' }}E</a>"

                            var options = {
                                title: "Balíček #{{ package.id }}",
                                url: znacka,
                            };
                            var coords = SMap.Coords.fromWGS84({{package.location.x|stringformat:'.7f'}}, {{package.location.y|stringformat:'.7f'}});
                            var marker = new SMap.Marker(coords, {{package.id}}, options);
                            marker.decorate(SMap.Marker.Feature.Card, card);
                            packages.addMarker(marker);
                        {% endfor %}

                        var points = new SMap.Layer.Marker();
                        map.addLayer(points);
                        points.enable();
                        {% for point in points %}
                            znacka = JAK.mel("div");
                            obrazek = JAK.mel("img", {src: "{% static '/images/point.png' %}"});
                            znacka.appendChild(obrazek);

                            card = new SMap.Card();
                            card.getHeader().innerHTML = "<strong>Point #{{point.id}}</strong>";
                            card.getBody().innerHTML = "Otevření: {{ point.opening_time | date:'H:i' }}<br>";
                            card.getBody().innerHTML += "<a href=\"https://mapy.cz/turisticka?x={{ point.location.x|stringformat:'.7f' }}&y={{ point.location.y|stringformat:'.7f' }}&z=17&source=coor&id={{ point.location.x|stringformat:'.7f' }}%2C{{ point.location.y|stringformat:'.7f' }}\">{{ point.location.y|stringformat:'.7f' }}N, {{ point.location.x|stringformat:'.7f' }}E</a>"

                            options = {
                                title: "Point #{{ point.id }}",
                                url: znacka,
                            };
                            coords = SMap.Coords.fromWGS84({{point.location.x|stringformat:'.7f'}}, {{point.location.y|stringformat:'.7f'}});
                            marker = new SMap.Marker(coords, {{point.id}}, options);
                            marker.decorate(SMap.Marker.Feature.Card, card);
                            points.addMarker(marker);
                        {% endfor %}

                        {% if quest is not None %}
                        var quest = new SMap.Layer.Marker();
                        map.addLayer(quest);
                        quest.enable();
                        znacka = JAK.mel("div");
                        obrazek = JAK.mel("img", {src: "{% static '/images/target.png' %}"});
                        znacka.appendChild(obrazek);
                        card = new SMap.Card();
                        card.getHeader().innerHTML = "<strong>{{quest}}</strong>";
                        card.getBody().innerHTML += "<a href=\"https://mapy.cz/turisticka?x={{ quest.location_history.x|stringformat:'.7f' }}&y={{ quest.location_history.y|stringformat:'.7f' }}&z=17&source=coor&id={{ quest.location_history.x|stringformat:'.7f' }}%2C{{ quest.location_history.y|stringformat:'.7f' }}\">{{ quest.location_history.y|stringformat:'.7f' }}N, {{ quest.location_history.x|stringformat:'.7f' }}E</a>"
                        options = {
                            title: "{{quest}}",
                            url: znacka,
                        };
                            coords = SMap.Coords.fromWGS84({{quest.location_history.x|stringformat:'.7f'}}, {{quest.location_history.y|stringformat:'.7f'}});
                            marker = new SMap.Marker(coords, {{quest.id}}, options);
                            marker.decorate(SMap.Marker.Feature.Card, card);
                            quest.addMarker(marker);
                        {% endif %}
                        var players = new SMap.Layer.Marker();
                        map.addLayer(players);
                        players.enable();

                        {% for player in trophy_players %}

                        znacka = JAK.mel("div");
                        obrazek = JAK.mel("img", {src: "{% static '/images/trophy.png' %}"});
                        znacka.appendChild(obrazek);
                        card = new SMap.Card();
                        card.getHeader().innerHTML = "<strong>{{player}}</strong>";
                        card.getBody().innerHTML += "<a href=\"https://mapy.cz/turisticka?x={{ player.location_history.x|stringformat:'.7f' }}&y={{ player.location_history.y|stringformat:'.7f' }}&z=17&source=coor&id={{ player.location_history.x|stringformat:'.7f' }}%2C{{ player.location_history.y|stringformat:'.7f' }}\">{{ player.location_history.y|stringformat:'.7f' }}N, {{ player.location_history.x|stringformat:'.7f' }}E</a>"
                        options = {
                            title: "{{player}}",
                            url: znacka,
                        };
                            coords = SMap.Coords.fromWGS84({{player.location_history.x|stringformat:'.7f'}}, {{player.location_history.y|stringformat:'.7f'}});
                            marker = new SMap.Marker(coords, {{player.id}}, options);
                            marker.decorate(SMap.Marker.Feature.Card, card);
                            players.addMarker(marker);
                        {% endfor %}

                        {% if if_show_players %}
                        var players_to_show = new SMap.Layer.Marker();
                        map.addLayer(players_to_show);
                        players_to_show.enable();

                        {% for show_player in show_players %}

                        znacka = JAK.mel("div");
                        obrazek = JAK.mel("img", {src: "{% static '/images/target.png' %}"});
                        znacka.appendChild(obrazek);
                        card = new SMap.Card();
                        card.getHeader().innerHTML = "<strong>{{show_player}}</strong>";
                        card.getBody().innerHTML += "<a href=\"https://mapy.cz/turisticka?x={{ show_player.location_history.x|stringformat:'.7f' }}&y={{ show_player.location_history.y|stringformat:'.7f' }}&z=17&source=coor&id={{ show_player.location_history.x|stringformat:'.7f' }}%2C{{ show_player.location_history.y|stringformat:'.7f' }}\">{{ show_player.location_history.y|stringformat:'.7f' }}N, {{ show_player.location_history.x|stringformat:'.7f' }}E</a>"
                        options = {
                            title: "{{show_player}}",
                            url: znacka,
                        };
                            coords = SMap.Coords.fromWGS84({{show_player.location_history.x|stringformat:'.7f'}}, {{show_player.location_history.y|stringformat:'.7f'}});
                            marker = new SMap.Marker(coords, {{show_player.id}}, options);
                            marker.decorate(SMap.Marker.Feature.Card, card);
                            players_to_show.addMarker(marker);
                        {% endfor %}
                        {% endif %}

                        var border = new SMap.Layer.Geometry();
                        map.addLayer(border);
                        border.enable();

                        var border_points = [

                            SMap.Coords.fromWGS84(17.1278975, 48.9115756),
                            SMap.Coords.fromWGS84(17.1595011, 48.9137322),
                            SMap.Coords.fromWGS84(17.1625686, 48.9088561),
                            SMap.Coords.fromWGS84(17.1534306, 48.8941125),
                            SMap.Coords.fromWGS84(17.1425478, 48.8914522),
                            SMap.Coords.fromWGS84(17.1278975, 48.9115756),
                        ];
                        var border_options = {
                            color: "#f00",
                            width: 3
                        };
                        var polyline = new SMap.Geometry(SMap.GEOMETRY_POLYLINE, null, border_points, border_options);
                        border.addGeometry(polyline);
                    </script>
                    </div>
                    </div>
                    <script src="{% static '/location.js' %}"></script>
                {% endif %}
            {% else %}
                <div class="card my-4">
                <div class="card-body">
                <h4><span class="badge badge-danger">Jsi mrtvý(á). Vrať se na základnu.</span></h4>
                    </div>
                    </div>

            {% endif %}


        {% endif %}
    </div>
    {% include "hg_app/includes/footer.html" %}
{% endblock %}
