{% extends 'hg_app/header.html' %}

{% block content %}
<div class="container">
    <div class="card my-4">
        <div class="card-body">
            <h2 class="card-title">Pravidla</h2>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <h4 class="card-title">
                Popis hry
            </h4>
            <ul>
                <li>
                    Hunger Games 0.2 je 20hodinová terénní akční hra s taktickými prvky. Hra se točí kolem zabíjení,
                    kořistění, vratkých spojenectví a obsazování bodů na herním území. Veškeré informace během hry,
                    jako kde se dají získat body nebo vybavení, budou k hráčům putovat prostřednictvím webové
                    aplikace (přes data). Vyhraje ten, kdo bude mít nejvíce bodů, což bude spíše člověk, který je
                    aktivní a odvážný, než člověk dobře schovaný.
                </li>
            </ul>
            <h4 class="card-title">
                Obecná pravidla</h4>
            <ul>
                <li>
                    Většina obecných pravidel se dá shrnout pod pravidlo N.K. - Nebuď Kretén!
                </li>
                <li>
                    Uvědomujte si, že jste si přijeli hlavně užít hru, vyhrát je na druhém místě - nebijte se
                    pěstmi; řekněte druhému, pokud couvá dozadu do stromu nebo ze skály atd.
                </li>
                <li>
                    Pokud si myslíte, že něco není fér, tak to fér není a nedělejte to.
                </li>
                <li>
                    Hra probíhá na omezeném území. Z tohoto území není dovoleno vystupovat.
                </li>
                <li>
                    Hráč u sebe nesmí mít nic, co by jej zvýhodňovalo (např. batoh, taktická vesta, další jídlo...),
                    mimo povolených předmětů získaných podle pravidel.
                </li>
                <li>
                    Zakazuje se jiná než fyzická komunikace s ostatními hráči (SMS, Messenger, email...).
                </li>
                <li>
                    Územím vedou turistické značky. Pokud potkáte civilistu, pěkně ho pozdravte, pokud bude třeba,
                    přerušte boj. Jinak ale nevyužívejte civilistů jako zdroj jídla, informací ani jako zvědy.
                </li>
                <li>
                    Během akce je zakázána konzumace alkoholu a jiných omamných látek.
                </li>
                <li>
                    Organizátoři mají vždycky pravdu a můžou všechno.
                </li>
            </ul>
            <h4 class="card-title">
                Povinná výbava</h4>
            <ul>
                <li>
                    Tyto věci jsou nutnou součástí výbavy každého hráče. Bez nich nelze začít hrát. Nelze je druhým
                    krást.
                </li>
                <li>
                    Mobilní telefon s offline mapami (Mapy.cz), dostatečnou baterií na 24 h provozu a s GPS, 200 MB
                    mobilních dat.
                </li>
                <li>
                    Půllitrová láhev vody
                </li>
                <li>
                    Šátek
                </li>
                <li>
                    Herní nůž (dostanete)
                </li>
                <li>
                    Kartička pojišťovny
                </li>
                <li>
                    Vlastní léky, pokud potřebujete v průběhu herní doby
                </li>
            </ul>
            <h4 class="card-title">
                Herní předměty</h4>
            <ul>
                <li>
                    Patří sem
                </li>
                <ul>
                    <li>
                        jídlo a voda (PET s logem HG)
                    </li>
                    <li>
                        měkčené zbraně
                    </li>
                    <li>
                        další drobnosti pro zvýšení komfortu nebo získání výhody v terénu (hlavně světlo)
                    </li>
                </ul>
                <li>
                    Tyto předměty jsou zcela herní, můžete si je navzájem krást, obchodovat s nimi...
                </li>
                <li>
                    Je zakázáno je ničit a úmyslně ztrácet.
                </li>
                <li>
                    Lze je získat během hry, a to z Rohu hojnosti (místo začátku hry) a z balíčků. Souřadnice
                    balíčků budou sdíleny pomocí webové aplikace.
                </li>
                <li>
                    Vám nevyhovující herní předměty je možné odložit u Rohu hojnosti, jinde ne.
                </li>
            </ul>
            <h4 class="card-title">
                Herní území</h4>
            <ul>
                <li>
                    Hraniční cesty je možné používat.
                </li>
                <li>
                    Součástí území jsou z důvodu zjednodušení hranic zastavěné oblasti, nezdržujete se v nich a
                    nevyužívejte výhody, které nabízejí (obchod, voda od lidí...)
                </li>
                <li>
                    Pokud se omylem dostanete mimo herní území, vraťte se urychleně zpět.
                </li>
                <li>
                    Základna je budova číslo 65 v pravém horním rohu území
                </li>
                <li>
                    Ke stažení <a href="https://mapy.cz/s/redagodavu" rel="nofollow" target="_blank">
                        zde</a>
                    <br>

                </li>
            </ul>


            <iframe style="border:none" src="https://frame.mapy.cz/s/junonohede" width="1000" height="333">
            </iframe>


            <h4 class="card-title">
                Webová aplikace</h4>
            <ul>
                <li>
                    Webová aplikace je souhrnnou platformou pro vyhodnocování hry <br>

                </li>
                <li>
                    Každý se přihlašuje pod svým jménem a s fotkou
                </li>
                <li>
                    Zadávají se do ní:
                </li>
                <li>
                    kill/stealth kill
                </li>
                <li>
                    nález balíčku
                </li>
                <li>
                    ověření vyzvednutí pointu
                </li>
                <li>
                    případné speciální efekty (získání trofeje, oživovacího pointu)
                </li>
                <li>
                    ...a to do 10 minut. Je to kvůli přehledu a abyste nezapomněli.
                </li>
            </ul>
            <h4 class="card-title">
                Životy</h4>
            <ul>
                <li>
                    Každý hráč má na začátku hry tři velké životy. Jsou symbolizovány stříbrnými plackami na
                    viditelném místě (dostanete na startu). Ztrácíte je, pokud vás zabije jiný hráč nebo Lovec. Tyto
                    životy lze obnovit oživovacím balíčkem, ale nikdo nemůže mít více než tři. Život ztrácíte, i
                    když vám placka někde upadne.
                </li>
                <li>
                    Pokud nemáte žádný velký život, končíte hru a odcházíte na základnu. Oživit se nelze.
                </li>
                <li>
                    Během soubojů se uplatňují tři tzv. malé životy. Jsou to body zranění, které můžete utržit.
                    Jste-li zasaženi do zásahové oblasti, o jeden malý život přicházíte. Pokud jste mimo boj
                    (rozuměj: s nikým se nenaháním, nešermuju...) po dobu 10 min, všechny malé životy se vám
                    dobijí.
                </li>
                <li>
                    Pokud přijdete o všechny tři malé životy, ztrácíte jeden velký život.
                </li>
                <li>
                    Na vyžádání jste povinni komukoliv oznámit počet malých životů.
                </li>
                <li>
                    Za určitých okolností, pokud vám zbyde jenom jeden velký život v první části hry, bude možné
                    získat život navíc
                </li>
            </ul>
            <h4 class="card-title">
                Zabíjení</h4>
            <ul>
                <li>
                    Zabíjení je možné dvěma způsoby: stealth killem nebo v obyčejném souboji.
                </li>
                <li>
                    Stealth kill je specifický úkon proveditelný pouze za určitých podmínek
                </li>
                <li>
                    Je to symbolický akt usmrcení bezbranné oběti, který musí proběhnout zcela bez boje a bez
                    domluvy
                </li>
                <li>
                    Útočník přejede herním nožem oběti po krku, přičemž se oběť nesmí bránit
                </li>
                <li>
                    Pokud se oběti podaří uhnout, zabránit rukou nebo chytit útočníkovu ruku s nožem, stealth kill
                    se nepodařil a dále se situace řídí pravidly běžného souboje
                </li>
                <li>
                    Podaří-li se stealth kill, oběť ztrácí ihned jeden velký život
                </li>
                <li>
                    Typické použití je podřezání spícího parťáka... Stealth kill nevypadá jako páčení rukou a bodání
                    se navzájem do krku
                </li>
            </ul>
            <h4 class="card-title">

                Boj
            </h4>
            <ul>
                <li>
                    Probíhá zbraní, papírovými koulemi nebo nožem a může se ho účastnit libovolné množství hráčů
                </li>
                <li>
                    Platí zde "dlouhý zásahový systém", tj. počítají se zásahy do kotníku a výš, do zápěstí a výš s
                    tím, že hlava, krk a rozkrok jsou zakázané oblasti, na něž se nesmí útočit ani náznakem
                </li>
                <li>
                    Každému úderu musí předcházet přiměřený nápřah, kydlení není úder (zbraně jsou symbolické a
                    umožňují nesmyslně rychlé slabé údery)
                </li>
                <li>
                    Pokud šlo pouze o teč nebo zásah oblečení, zásah se nepočítá. V případě nejasností má pravdu
                    zasažený
                </li>
                <li>
                    Zásah znamená minus jeden malý život pro zasaženého
                </li>
                <li>
                    Zbraně na dálku (papírové koule) berou také jeden život
                </li>
                <li>
                    I nechtěný zásah je zásah (friendly fire platí).
                </li>
                <li>
                    Při boji je nejdůležitější bezpečnost.
                </li>
            </ul>
            <h4 class="card-title">
                Mrtvola</h4>
            <ul>
                <li>
                    Mrtvolou se stáváte ve chvíli, kdy ztratíte jeden velký život (ne poslední).
                </li>
                <li>
                    Mrtvola leží/dřepí na zemi, nezapojuje se do hry, nemluví a počká, až souboj skončí. Přitom se
                    nechá obrat (dá jakékoli herní předměty komukoli, kdo bude chtít)
                </li>
                <li>
                    Když obíráte mrtvolu, buď si její věci necháte, nebo je neberete. Žádné odhazování herních
                    předmětů.
                </li>
                <li>
                    Když skončí souboj a nikdo nejeví zájem o kořistění, mrtvola odejde aspoň 100 m od ostatních,
                    případně jiným směrem, než ostatní odešli, napočítá do 100 a tím se znovu oživí.
                </li>
                <li>
                    Jeden hráč nesmí zabít druhého dvakrát během 15 minut.
                </li>
            </ul>
            <h4 class="card-title">
                Point</h4>
            <ul>
                <li>
                    Čas a pozice pointů budou oznamovány pomocí aplikace.<br>

                </li>
                <li>
                    Point se zobrazí omezené skupince hráčů a může jej vyzvednout předem náhodně určený neznámý
                    počet z nich. (např. point je otevřen pro 8 hráčů a vyzvednout jej mohou první tři)
                </li>
                <li>
                    Vyzvednutí se potvrzuje v aplikaci pomocí GPS.
                </li>
                <li>
                    Jeden hráč může vyzvednout jeden point pouze jednou.
                </li>
            </ul>
            <h4 class="card-title">
                Kreativní činnost</h4>
            <ul>
                <li>
                    Během celé hry je možné a užitečné fotit, točit vlogy, psát básně, eseje, namluvit své zážitky
                    apod.
                </li>
                <li>
                    Jedná se hlavně způsob, jak hru zdokumentovat i na velkém území...
                </li>
            </ul>
            <h4 class="card-title">
                Lovci</h4>
            <ul>
                <li>                    Od sobotního rána se bude v herním území nacházet čím dál více Lovců agresivních a nepřátelských
                    vůči hráčům. Disponují větším množstvím životů i lepšími zbraněmi než hráči, ale souboj s nimi
                    probíhá podle běžných soubojových pravidel, kromě toho, že při zabití Lovce nelze ukořistit žádné
                    jeho předměty. Lovce poznáte podle toho, že budou oblečení celí v černém s přesýpacími hodinami na
                    tričku.<br>
                </li>
            </ul>
            <h4 class="card-title">
                Bodování</h4>
            <ul>
                <li>
                    Nejvíce bodů bude udělováno za stealth killy, další budou za killy a pak za pointy.
                </li>
                <li>
                    Přesné bodové hodnocení jednotlivých aktivit nebude zveřejněno.
                </li>
            </ul>
            <h4 class="card-title">
                Bezpečnost</h4>
            <ul>

                <li>
                    V případě nouze lze přijít na základnu, je tam jídlo, teplo... Zdravotník bude mít
                    stanoviště na Rohu hojnosti.
                </li>
                <li>
                    Základnou je skautská základna na těchto souřadnicích: <a
                        href="https://mapy.cz/s/futalalelo" rel="nofollow" target="_blank">
                    48.9142864N, 17.1589464E</a>

                </li>
                <li>
                    Bylo by vhodné mít nainstalovanou aplikaci Záchranka.
                </li>
                <li>
                    Když je problém, volejte zdravotníkovi (608 832 327).
                </li>
            </ul>

            V případě nejasností s pravidly se můžete obrátit na hg@skaut.cz.

        </div>
    </div>
</div>
{% include "hg_app/includes/footer.html" %}

{% endblock %}